method/mymodel-yelp/__pycache__/data.cpython-36.pyc
method/mymodel-yelp/__pycache__/data.cpython-37.pyc
method/mymodel-yelp/__pycache__/model.cpython-36.pyc
method/mymodel-yelp/__pycache__/model.cpython-37.pyc
results/caption_128dim_output_2019_12_10_17_37_53.txt
results/caption_1transformer_output_2019_12_11_12_17_18.txt
results/caption_512dim_output_2019_12_10_20_18_50.txt
results/caption_pretrained_output_2019_12_10_14_32_26.txt
results/eval_caption_128dim_output_2019_12_10_17_37_53.json
results/eval_caption_1transformer_output_2019_12_11_12_17_18.json
results/eval_caption_512dim_output_2019_12_10_20_18_50.json
results/eval_caption_pretrained_output_2019_12_10_14_32_26.json
results/eval_yelp_128dim_output_2019_12_11_19_44_25.json
results/eval_yelp_1transformer_2019_12_12_11_09_39.json
results/eval_yelp_512dim_output_2019_12_11_23_03_00.json
results/eval_yelp_pretrained_output_2019_12_11_15_42_28.json
results/yelp_128dim_output_2019_12_11_19_44_25.txt
results/yelp_1transformer_2019_12_12_11_09_39.txt
results/yelp_512dim_output_2019_12_11_23_03_00.txt
results/yelp_pretrained_output_2019_12_11_15_42_28.txt
