method/mymodel-yelp/__pycache__/data.cpython-36.pyc
method/mymodel-yelp/__pycache__/data.cpython-37.pyc
method/mymodel-yelp/__pycache__/model.cpython-36.pyc
method/mymodel-yelp/__pycache__/model.cpython-37.pyc
